.button {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  padding: 14px 0 14px 0;
  height: max-content;
}
