.contacts {
  margin: 0 auto 39px auto;
  width: 260px;
}
.contacts__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
}
.contacts__list {
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  margin: 0;
}
.contacts__map {
  margin: 0 0 42px -30px;
  display: block;
}
.contacts__button {
  color: #444444;
}
