.footer {
  background-color: #f1f1f1;
}
.footer__wrapper {
  widtH: 260px;
  margin: 0 auto;
  padding: 25px 0 23px 0;
}
.footer__logo {
  display: none;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto 51px auto;
  padding: 0;
  width: 142px;
}
.footer__htmlacademy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  margin: 0 auto;
  width: 182px;
}
@media (min-width: @tablet-width) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    widtH: 668px;
    margin: 0 auto;
    padding: 25px 0 23px 0;
  }
  .footer__logo {
    display: block;
  }
  .footer__list {
    margin: 0;
  }
  .footer__htmlacademy {
    margin: 0;
  }
}
@media (min-width: @desktop-width) {
  .footer__wrapper {
    widtH: 1050px;
  }
}

