.production {
  margin: 0 0 58px 0;
  border: 1px solid #ececec;
}
.production__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding: 21px 13px 26px 91px;
}
.production__paragraph {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  margin: 0;
}
