.site-list {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  list-style-type: none;
  background-color: #ffffff;
  box-shadow: inset 0px -1px 0px #ececec;
}
.site-list__item {
  display: flex;
  box-shadow: inset 0px 1px 0px #ececec;
}
.site-list__link {
  display: block;
  box-sizing: border-box;
  width: 320px;
  padding: 28px 33px 27px 76px;
  color: #000000;
  text-decoration: none;
  &--icon {
    width: 244px;
    padding: 28px 33px 27px 0;
  }
}
.site-list__icon {
  box-sizing: border-box;
  width: 76px;
  height: 79px;
  padding: 32px 0 0 32px;
}
@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
  }
  .nav__toggle {
    display: none;
  }
  .site-list__icon {
    box-shadow: inset 1px 0px 0px #ececec;
  }
  .site-list__link {
    &--icon {
      display: none;
    }
  }
}
